@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
	@apply m-0;
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.5rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0.003 34.8799108722926);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0.003 34.8799108722926);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0.003 34.8799108722926);
	--primary: oklch(0.644 0.175 35.17143262638179);
	--primary-foreground: oklch(0.961 0.002 34.31377990618167);
	--secondary: oklch(0.969 0.003 34.31284266042112);
	--secondary-foreground: oklch(0.212 0.01 34.33123142866659);
	--muted: oklch(0.969 0.003 34.31284266042112);
	--muted-foreground: oklch(0.539 0.076 34.74689405451017);
	--accent: oklch(0.882 0.03 34.305689477249594);
	--accent-foreground: oklch(0.21 0.032 34.8191619272059);
	--destructive: oklch(0.58 0.237 28.43022926835137);
	--border: oklch(0.889 0.01 34.30126544970942);
	--input: oklch(0.889 0.01 34.30126544970942);
	--ring: oklch(0.644 0.175 35.17143262638179);
	--chart-1: oklch(0.644 0.175 35.17143262638179);
	--chart-2: oklch(0.753 0.09 34.623986953818346);
	--chart-3: oklch(0.84 0.042 34.33375949590002);
	--chart-4: oklch(0.538 0.184 34.03800568594533);
	--chart-5: oklch(0.436 0.141 34.58291971735383);
	--sidebar: oklch(0.969 0.003 34.31284266042112);
	--sidebar-foreground: oklch(0.212 0.01 34.33123142866659);
	--sidebar-primary: oklch(0.644 0.175 35.17143262638179);
	--sidebar-primary-foreground: oklch(0.961 0.002 34.31377990618167);
	--sidebar-accent: oklch(0.882 0.03 34.305689477249594);
	--sidebar-accent-foreground: oklch(0.21 0.032 34.8191619272059);
	--sidebar-border: oklch(0.889 0.01 34.30126544970942);
	--sidebar-ring: oklch(0.644 0.175 35.17143262638179);
}

.dark {
	--background: oklch(0.21 0.021 34.52719119165634);
	--foreground: oklch(0.961 0.002 34.31377990618167);
	--card: oklch(0.252 0.028 34.588438225702255);
	--card-foreground: oklch(0.961 0.002 34.31377990618167);
	--popover: oklch(0.252 0.028 34.588438225702255);
	--popover-foreground: oklch(0.961 0.002 34.31377990618167);
	--primary: oklch(0.666 0.139 35.111957125010775);
	--primary-foreground: oklch(0.956 0.015 34.298132834274206);
	--secondary: oklch(0.325 0.02 34.36245972285868);
	--secondary-foreground: oklch(0.961 0.003 34.31140266181454);
	--muted: oklch(0.325 0.02 34.36245972285868);
	--muted-foreground: oklch(0.716 0.027 34.30950892788942);
	--accent: oklch(0.462 0.095 35.097869271085166);
	--accent-foreground: oklch(0.958 0.01 34.301522327133284);
	--destructive: oklch(0.58 0.237 28.43022926835137);
	--border: oklch(0.409 0.036 34.464417368233846);
	--input: oklch(0.409 0.036 34.464417368233846);
	--ring: oklch(0.666 0.139 35.111957125010775);
	--chart-1: oklch(0.666 0.139 35.111957125010775);
	--chart-2: oklch(0.744 0.109 34.78092035923482);
	--chart-3: oklch(0.826 0.075 34.4801501712315);
	--chart-4: oklch(0.546 0.138 35.21112722095655);
	--chart-5: oklch(0.453 0.093 35.09461848112935);
	--sidebar: oklch(0.332 0.042 34.661949353802314);
	--sidebar-foreground: oklch(0.961 0.002 34.31377990618167);
	--sidebar-primary: oklch(0.666 0.139 35.111957125010775);
	--sidebar-primary-foreground: oklch(0.956 0.015 34.298132834274206);
	--sidebar-accent: oklch(0.462 0.095 35.097869271085166);
	--sidebar-accent-foreground: oklch(0.958 0.01 34.301522327133284);
	--sidebar-border: oklch(0.409 0.036 34.464417368233846);
	--sidebar-ring: oklch(0.666 0.139 35.111957125010775);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
